<link rel="stylesheet" href="/css/admin_home.css">
<div class="dish">
        {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}
   
        <a href="/admin/pages/contact/header"><h2>Header</h2></a>
        <a href="/admin/pages/contact/topFooter"><h2>Koworking Contacts</h2></a>

</div>