<link rel="stylesheet" href="/css/admin_home.css">
<div class="dish">
    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}
    <a href="/admin/pages/coworking/header">
        <h2>Header</h2>
    </a>
    <a href="/admin/pages/coworking/home">
        <h2>Home</h2>
    </a>
    <a href="/admin/pages/coworking/premium">
        <h2>Premium</h2>
    </a>
    <a href="/admin/pages/coworking/form">
        <h2>Form</h2>
    </a>
</div>