<link rel="stylesheet" href="/css/admin_home.css">
<div class="dish">
  {{#if error}}
  <p style="color: red;">{{error}}</p>
  {{/if}}
  <a href="/admin/pages/home/header">
    <h2>Header</h2>
  </a>

  <a href="/admin/pages/home/main">
    <h2>Main</h2>
  </a>
  <a href="/admin/pages/home/techs">
    <h2>Techs</h2>
  </a>
  <a href="/admin/pages/home/steps">
    <h2>Steps</h2>
  </a>
  <a href="/admin/pages/home/about_course">
    <h2>About Course</h2>
  </a>
  <a href="/admin/pages/home/practices">
    <h2>Practices</h2>
  </a>
  <a href="/admin/pages/home/slider">
    <h2>Slider</h2>
  </a>
  <a href="/admin/pages/home/news">
    <h2>News</h2>
  </a>
</div>