<link rel="stylesheet" href="/css/admin-log.css" />

<div class="login-page">
  <div class="form">
    <h1>{{title}}</h1>
    <form class="login-form" action="/admin/register" method="post">
      <input type="text" placeholder="name" required />
      <input type="text" placeholder="username" required />
      <input type="password" placeholder="password" requiredrequired />
      <input type="phone" placeholder="phone number" required />
      <input type="text" placeholder="email address" required />
      <input type="file" name="img" id="img" required />
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>