<div class="sidebar">
  <div class="sidebar_inside">
    <div class="admin">
      <div class="admin_img">
        <img src="/img/320headerCowo.png" alt="" />
      </div>
      <div class="admin_name">
        <h4>admin</h4>
      </div>
    </div>
    <div class="list_menu">
      <ul class="list_ul">
        <li><a href="/admin/home/edit" class="list_link">Home page</a></li>
        <li><a href="/admin/edit/foot_nav" class="list_link">Navbar and Footer</a></li>
        <li><a href="/admin/coworking/edit" class="list_link">Coworking</a></li>
        <li><a href="/admin/contact/edit" class="list_link">Contact Page</a></li>
        <li><a href="/admin/crud/" class="list_link">CRUD</a></li>
        <li><a href="/admin/img" class="list_link">imgs</a></li>
        <li><a href="/admin/pages/contact/openLesson" class="list_link">Open Lessons</a></li>
        <li><a href="/admin/users" class="list_link">are written</a></li>
        <li><a href="/admin/links" class="list_link">Links</a></li>
        <li><a href="/admin/logout" class="list_link">Log out</a></li>
      </ul>
    </div>
  </div>
</div>