<link rel="stylesheet" href="/css/edit_text.css">
<div class="dash">
    <form action="/admin/edit/home/{{home.id}}/news_title" method="post">
        <label for="news_title">Yangiliklar sarlavhasi</label>
    <input value="{{home.news_title}}" type="text" name="news_title" id="news_title">
        <button type="submit">send</button>
        </form>
</div>

    