<link rel="stylesheet" href="/css/edit_text.css">
<div class="dash">
    <div class="slider">
        <form action="/admin/edit/home/{{home.id}}/reviews_title" method="post">
        <label for="reviews_title">Otzivlar sarlavhasi</label>
        <input value="{{home.reviews_title}}" type="text" name="reviews_title" id="reviews_title">
        <button type="submit">send</button>
        </form>
    </div>
</div>