<link rel="stylesheet" href="/css/edit_text.css">
<div class="dash">
        <form action="/admin/edit/home/{{home.id}}/header_actions_register" method="post">
        <label for="main_course_data_techs_title">Nimani o'rgana olish haqida sarlavha</label>
<input value="{{home.main_course_data_techs_title}}" type="text" name="main_course_data_techs_title"
            id="main_course_data_techs_title">
            <button type="submit">send</button>
        </form>
</div>