@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
  font-family: "Roboto";
}

.body {
  display: flex;
}

.sidebar {
  width: 20%;
  min-height: 100vh;
  max-height: 100%;
  background: #343a40;
  color: #fff;
  position: fixed;
  padding: 20px;
}

.dish {
  margin-left: 20%;
  width: 100%;
  height: 100vh;
  background: #444;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dash {
  margin-left: 20%;
  height: 100%;
  width: 100%;
}

.dashboard,
.crud_main {
  margin-left: 381px;
}

.admin {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.admin_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.admin_img img {
  width: 100%;
}

.forms{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.forms form{
  padding: 15px;
  margin: 10px 10px;
}

.practice_items{
  display: flex;
  flex-direction: column;
}

.list_link {
  display: block;
  width: 100%;
}

.list_link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.list_ul li {
  transition: 0.2s;
}

.list_ul li a {
  padding: 20px;
  margin: 0;
}

.list_ul li:hover {
  background: #6c757d;
  border-radius: 5px;
}


/*  crud */


.crud_main {
  padding: 20px;
}

.crud_main .for,
.crud_main .learns,
.crud_main .program {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.crud_main .for button,
.crud_main .program button,
.crud_main .learns button {
  margin-top: 10px;
}

.for_item,
.program_item,
.learn_item {
  margin-top: 10px;
  border: 1px solid blue;
  padding: 10px;
}

.crud {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.crud_item {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.crud_item h2 {
  padding: 8px;
  font-size: 16px;
}

.crud_item p {
  padding: 8px;
}

.crud_item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.crud_item a {
  margin-top: auto;
  padding: 10px;
  background: red;
  display: inline-block;
  color: #fff;
}

.crud_form {
  max-width: 500px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.crud_form h2 {
  margin-bottom: 40px;
}

.crud_form input {
  width: 100%;
  border: 1px solid grey;
  padding: 15px;
}

.crud_form button {
  padding: 14px 40px;
  background: #006eff;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  color: #fff;
}

.for_item .for_remove,
.program_item .program_remove,
.learn_item .learn_remove {
  background: red !important;
  font-size: 16px;
  padding: 8px 20px;
}