.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 384px;
  height: 100vh;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td img {
  width: 13px;
  height: 12px;
}
