<link rel="stylesheet" href="/css/admin_home.css">
<div class="dish">
    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}
    <a href="/admin/crud/techs">
        <h2>Technologies</h2>
    </a>
    <a href="/admin/crud/reviews">
        <h2>Reviews</h2>
    </a>
    <a href="/admin/crud/courses">
        <h2>Courses</h2>
    </a>
    <a href="/admin/crud/lessons">
        <h2>Lessons</h2>
    </a>
</div>